*~*

### Common ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*.log
*.bak
__pycache__/

### Local ###
# local (project) python interpreter
hlimds_py_env/

### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3

### Verilog projects ###
*.iml
*.bak
*.hex
*.log
*~*

sim/

db/
incremental_db/
output_files/

