*~*

### Common ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*.log
*.bak
__pycache__/

### Local ###
# local (project) python interpreter
raspberry_env/

### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3
